<config template="project (default)" platform="project">Created: Tue 11. Feb 23:42:50 2014
By: Daniel
Using Template: project (default)

&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="Happy Bird" name="name" fromDef="false"/>
    <option value="Happy Bird" name="caption" fromDef="false"/>
    <option value="Daniel Williamson" name="provider" fromDef="false"/>
    <option value="(C) Daniel Williamson" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
